// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.albums {
  tr {
    border: 1px gray solid;
    &:nth-child(odd) { border-bottom: none; text-align: center; }
    &:nth-child(even) { border-top: none; }
  }
}