<ul>
  <li><strong>GET</strong> <i>/</i> - выводить размер занятой памяти и жёсткого диска</li>
  <li><strong>GET</strong> <i>/memory</i> - выводить память</li>
  <li><strong>GET</strong> <i>/disc</i> - размер диска</li>
  <li><strong>GET</strong> <i>/help</i> - страничку о доступных путях</li>
</ul>